<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Transylvania</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
  <!--Navigation Bar-->
  <%- include('./user/header') %>
<br><br><br>
  <!--Cards-->
  <div class="container">
      <div class="row">
          <% result.forEach(element => { %>
          <div class="col-md-4">
               
              <div class="card">
                  <img src="<%= element.imgUrl %>" class="card-img-top" style="height: 200px; object-fit: cover;">
                  <div class="card-body">
                      <h5 class="card-title">Room: <%= element.roomNumber %></h5>
                      <p class="card-text">Price: <%= element.price %></p>
                      <p class="card-text">Type: <%= element.roomType %></p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/register" class="btn btn-primary">Booking Now</a>
                  </div>
              </div>
          </div>
          <% }) %>
      </div>
  </div>

  <%- include('./index/footer') %>

  <!--JavaScript for Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>